.componentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.componentTitle {
  font-size: 4rem;
  margin-bottom: 5rem;
}

// Code Editor
.container {
  width: 100vw;
  // height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}
.output {
  height: 40rem;
  width: 60%;
  border-radius: 2rem;
  padding: 4rem 10rem;

  h2 {
    margin-bottom: 2rem;
    margin-left: 4rem;
  }
}
#preview {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  color: $textColor;
  border: 0.2rem solid $lightGrey;
}
.editorContainer {
  display: flex;
  margin-top: 10rem;
  max-width: 90%;
}
.codeBox {
  height: 50rem;
  width: 80rem;
  font-size: 2rem;
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
}
.htmlBox {
  background-color: #0f111a;
  //   resize: horizontal;
  margin-right: 10rem;
  border: none;
  border: 0.3rem solid #4d578662;
}
.cssBox {
  background-color: #0f111a;
  border: 0.3rem solid #4d578662;
}
.titleBoxContainer {
  display: flex;
}
.title {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // justify-content: center;
  padding-inline: 4rem;
  background-color: #22263a;
}
.titleBoxLeftContent {
  display: flex;
  align-items: center;
}
.titleText {
  color: rgb(211, 211, 211);
  font-size: 1.8rem;
}
.headerButtonContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform ease 0.5s;
  color: rgb(211, 211, 211);
  p {
    font-size: 1.8rem;
    margin-left: 0.6rem;
  }
  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: scale(0.94);
    color: $successColor;
  }
}
.htmlIcon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}
.copyBtnContainer {
  height: 5rem;
  width: 5rem;
  background-color: #22263a;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5rem;
  bottom: 3rem;
  z-index: 999;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 0.1rem solid #4d578662;

  &:hover {
    transform: scale(1.09);
  }
  &:active {
    transform: scale(0.9);
    background-color: $successColor;
  }
}
.copyIcon {
  color: $textColor;
  cursor: pointer;
}
.CodeMirror {
  height: 100%;
  padding-bottom: 7rem;
  margin-left: 1.5rem;
  padding-top: 1rem;
}

// Instructions Section
.instructionsSection {
  margin-top: 3rem;
  margin-left: 2rem;
  h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}
