// Splash Screen
.splashScreen {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  clip-path: circle(70.7% at 50% 50%);
  height: 100vh;
  width: 100%;
}

.secondSplashBackground {
  background: $gradient;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  clip-path: circle(70.7% at 50% 50%);
  height: 100vh;
  width: 100%;
}
.splashScreenText {
  // @include gradientText(weight(bold));
  font-size: 5rem;
  color: black;
}

#LoaderContainer {
  display: block;
  margin-top: 3rem;
}
.circle {
  display: inline-block;
  background-color: $backgroundColor;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 2.5rem;
}

#ball-1 {
  animation: 1.2s 0s infinite bounce;
}
#ball-2 {
  animation: 1.2s 0.3s infinite bounce;
}
#ball-3 {
  animation: 1.2s 0.6s infinite bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(1rem);
  }
  60% {
    transform: translateY(-1rem);
  }
  80% {
    transform: translateY(0);
  }
}

// Hero Content
.heroSection {
  // height: 90vh;
}

.heroContentContainer {
  display: flex;
  justify-content: space-between;
  margin-top: -8rem;
  padding-inline: 4rem;
  align-items: center;
  height: 100%;
  width: 90%;
  margin-inline: auto;
}
.heroLeftContent {
  width: 40%;
}
.heroTitle {
  font-size: 4rem;
}
.heroImage {
  height: 35rem;
}
.exploreBtn {
  @include link;
  color: #fff;
}
.navLink {
  font-size: 2rem;
}
// whyChoose
.whyReasonBoxesContainer {
  @include flexCenter(row);
  justify-content: flex-start;
  margin-top: 1rem;
}

.whyChooseSec {
  display: flex;
  height: auto;
  color: black;
  h2 {
    font-size: 3rem;
  }
}
.left {
  width: 50%;
}
.detailsWrapper {
  margin-inline: auto 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.details {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  p {
    font-size: 2rem;
  }
}
.right {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.photos {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whyImageContainer {
  position: absolute;
  width: 80rem;
  height: 70rem;
  border-radius: 5rem;
  @include flexCenter(row);
}
.whyImageContainerOne {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 20;
  background-color: #ecd8c0;
}
.whyImageContainerTwo {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 19;
  background-color: #cdd1ff;
}
.whyImageContainerThree {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  z-index: 18;
  background-color: #ffb399;
}
.whyImage {
  object-fit: cover;
  width: 65rem;
  height: 40rem;
  border-radius: 6rem;
}
.whyImageOne {
  box-shadow: -9px 17px 27px -3px #c5863d;
}
.whyImageTwo {
  box-shadow: -9px 17px 27px -3px #8992ff;
}
.whyImageThree {
  box-shadow: -9px 17px 27px -3px #ff8055;
}
// Components Sneakpeek
.sneakPeek {
  @include flexCenter(column);
  margin-top: 5rem;
  justify-content: flex-start;
  padding-top: 10rem;
  h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .componentBoxesContainer {
    display: flex;
  }
  .componentBoxes {
    height: 25rem;
    width: 32rem;
    border: 0.3rem solid $darkGrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .viewMoreBtn {
      margin-top: 3rem;
      @include link;
      transition: transform 0.3s ease;
      display: flex;
      align-items: center;

      &:hover {
        transform: scale(1.06);
      }

      &:active {
        transform: scale(0.89);
      }
    }

    .arrowIconViewMoreBtn {
      margin-top: 0.3rem;
      margin-left: 0.7rem;
    }
  }

  .componentBoxesOne {
    border-top-left-radius: 4rem;
  }
  .componentBoxesThree {
    border-top-right-radius: 4rem;
  }
  .componentBoxesFour {
    border-bottom-left-radius: 4rem;
  }
  .componentBoxesSix {
    border-bottom-right-radius: 4rem;
  }
}

//Button
.displayButton {
  font-family: sans-serif;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(91, 134, 229) 0%,
    rgb(54, 209, 220) 100%
  );
  width: 70%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 18px;
  transition: all 0.4s ease-out;
  cursor: pointer;
  border-radius: 10px;

  &:hover {
    transform: scale(1.06);
  }

  &:active {
    transform: scale(0.89);
  }
}

// Input Field
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
}
.label {
  margin-left: 20px;
  position: absolute;
  transition: 0.2s;
  color: #404040;
}
.inputBox {
  height: 50px;
  padding: 10px 20px;
  font-size: 18px;
  background: transparent;
  transition: all 0.2s;
  outline: 0;
  color: $textColor;
  background: linear-gradient(#171717, #171717) padding-box,
    linear-gradient(90deg, rgb(91, 134, 229) 0%, rgb(54, 209, 220) 100%)
      border-box;
  border-radius: 15px;
  border: 2px solid transparent;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .label {
    font-size: 20px;
    cursor: text;
    top: 10px;
    color: #808080;
  }
}
.inputBox:focus {
  ~ .label {
    position: absolute;
    top: -30px;
    display: block;
    transition: 0.2s;
    font-size: 18px;
    color: #fff;
  }
}

//Radio Input
.radioInputContainer {
  background-color: $textColor;
  width: 60%;
  height: 60px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radioInput {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  &:first-of-type {
    margin-right: 20px;
  }
}

// Switch
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// Rounded sliders
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    90deg,
    rgb(91, 134, 229) 0%,
    rgb(54, 209, 220) 100%
  );
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// Card
.cardContainer {
  width: 80%;
  height: 100px;
  background-color: $textColor;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding-inline: 10px;
  transition: transform 0.5s ease;
  cursor: pointer;

  h3 {
    color: $backgroundColor;
    font-size: 20px;
  }
  p {
    color: $errorColor;
    font-weight: weight(med);
  }
  .onlineStatusContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .onlineStatusDot {
    padding: 6px;
    background-color: $errorColor;
    border-radius: 50px;
    margin-right: 5px;
  }

  &:hover {
    transform: scale(1.05);
  }
}
.thumbnail {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-right: 15px;
}

//Spinner
.spinner {
  width: 5rem;
  height: 50px;

  span {
    display: block;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid transparent;
    border-radius: 50%;
    border-right-color: $textColor;
    animation: spinner-anim 0.8s linear infinite;
  }
}

@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

// Collaboratesection
.collaborateSection {
  @include flexCenter(column);
  margin-top: 10rem;
  justify-content: flex-start;
  padding-top: 10rem;
  height: 50vh;
  h2 {
    font-size: 4rem;
    margin-bottom: 5rem;
  }
  h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  p {
    width: 45%;
    text-align: center;
    font-size: 2rem;
  }
}

.netlifyLink {
  color: $textColor;
  text-decoration: none;
  font-size: 2rem;
}
