.gradientText {
  @include gradientText(weight(bold));
}

.btnContainer {
  padding: 2.5rem 4rem;
  background: $gradient;
  height: 3rem;
  @include flexCenter(row);
  border: none;
  border-radius: 0.7rem;
  margin-top: 3rem;
  cursor: pointer;
  font-weight: weight(med);
  transition: transform 0.4s ease-out;

  a {
    @include link;
    margin-right: 10px;
  }
  span {
    color: $textColor;
  }

  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: scale(0.89);
  }
}

.section {
  padding-top: 2rem;
  padding-inline: 10rem;
  height: 100vh;
}

.sectionNoHeight {
  padding-top: 2rem;
  padding-inline: 10rem;
}
// nav bar
.navBar {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 3rem;
}

.navLink {
  color: $textColor;
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 5rem;
  transition: all 0.2s ease;

  &:hover {
    color: $accentColor;
  }

  &:active {
    font-size: 1.6rem;
  }
}

// Footer
.footer {
  height: 45rem;
  background-color: $darkGrey;
  width: 100vw;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerContainer {
  width: 100vw;
  padding: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerLogo {
  font-size: 4rem;
}
.sitemapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  a {
    color: $textColor;
    text-decoration: none;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    transition: transform 0.4s ease-out;

    &:hover {
      transform: scale(1.08);
    }

    &:active {
      transform: scale(0.89);
    }
  }
}
.contactUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 3rem;
  }
  .iconsContainer {
    display: flex;
    margin-top: 2rem;
    cursor: pointer;

    a {
      @include link;
    }
  }
  .contsctIcon {
    padding: 2rem;
    background-color: $backgroundColor;
    border-radius: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.4s ease-out;

    &:hover {
      transform: scale(1.08);
    }

    &:active {
      transform: scale(0.89);
    }

    &:first-child {
      margin-right: 2rem;
    }
  }
}
.footerDivider {
  padding: 0.1rem;
  background-color: $lightGrey;
  width: 80vw;
}
.footerDis {
  margin-top: 3.5rem;
  color: $lightGrey;
  font-size: 2rem;
}
